<header>
    <nav class="top-nav indigo darken-3">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
                    <i class="material-icons icon-white">menu</i>
                </a>
                <a class="page-title">UNS - Universal Network Sketcher</a>
            </div>
        </div>
    </nav>
    <div id="nav-mobile" class="side-nav fixed grey lighten-4" style="transform: translateX(-100%);">
        <p class="file-title">Arquivos</p>
        <ul class="collection" ng-show="files.length">
            <li class="collection-item" ng-class="{'active': $index === currentIndex }"
                ng-repeat="file in files track by $index" ng-click="openFile($index)">
                <div>
                    <p>{{ file.name }}</p>
                    <a class="secondary-content" ng-click="$event.stopPropagation(); downloadFile($index)">
                        <i class="material-icons" ng-class="$index === currentIndex ? 'icon-white': 'icon-gray'">file_download</i>
                    </a>
                </div>
            </li>
        </ul>
        <div class="empty-files" ng-show="!files.length">Nenhum arquivo foi adicionado.</div>
    </div>
</header>
<main>
    <div class="row" style="margin-bottom: 0;">
        <div class="col s12 menu grey lighten-4">
            <ul>
                <li class="option" ng-click="newFile()">
                    <i class="icon-new-file small"></i>
                </li>
                <li class="option">
                    <input type="file" name="file" id="file" class="btn-upload" accept=".gml"
                           on-read-file="loadFile($content)"/>
                    <label for="file">
                        <i class="icon-upload small"></i>
                    </label>
                </li>
                <!--<li class="option"><i class="icon-save small"></i>
                </li>-->
                <li class="option" ng-click="exportMap()">
                    <i class="icon-export small"></i>
                </li>
                <li class="option" ng-click="printPDF()">
                    <i class="icon-printer small"></i>
                </li>
                <li>
                    <a href="" class="separator"></a>
                </li>
                <li class="option" ng-click="turnFeature('node')">
                    <i class="icon-server small" ng-class="{'active' : options.node}"></i>
                </li>
                <li class="option" ng-click="turnFeature('edge')">
                    <i class="icon-edge small" ng-class="{'active' : options.edge}"></i>
                </li>
                <li class="option" ng-click="turnFeature('running')">
                    <i class="icon-run small" ng-class="{'active' : options.running}"></i>
                </li>
                <li class="option" ng-click="openSettings()">
                    <i class="icon-settings small"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0; height: 100%">
        <map></map>
    </div>
</main>