<div class="col s12 map-view">
    <div id="map" class="map" ng-show="view !== 'source'"></div>
    <div class="map-options btn-group">
        <button ng-class="{'active': view === 'roadmap'}" ng-click="changeView('roadmap')">Mapa</button>
        <button ng-class="{'active': view === 'satellite'}" ng-click="changeView('satellite')">Satélite</button>
        <button ng-class="{'active': view === 'source'}" ng-click="changeView('source')" ng-if="currentNetwork">Source
        </button>
    </div>
    <textarea class="col s12 gml" ng-show="view === 'source'" ng-model="gml"></textarea>
</div>