/* ========================
            COMMONS
   ======================== */
.m-b-10 {
    margin-bottom: 10px;
}

/* ========================
            CUSTOM
   ======================== */

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

html,
body,
ui-view,
main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

i.icon-white {
    color: white;
}

i.icon-gray {
    color: #717171;
}

i.active,
i.active:before {
    color: #00695c;
}

.page-title,
.page-title:hover {
    font-size: 16px;
    color: white !important;
}

.version {
    color: white !important;
    font-size: 14px;
}

.menu {
    margin-left: 10px;
}

.menu ul > li {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
}

.menu ul > li .separator {
    border-right: 1px solid #717171;
    padding-top: 20px;
    margin: 0 15px;
    cursor: default;
}

.btn-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn-upload + label {
    cursor: pointer;
}

.file-title {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}

.collection-item {
    cursor: pointer;
}

.collection-item:hover {
    background-color: #EBEBEB;
}

.collection-item.active {
    background-color: #283593 !important;
    color: white;
    font-weight: bold;
}

.collection-item p {
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.empty-files {
    text-align: center;
    background-color: #283593;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 0;
}

.chip {
    cursor: pointer;
    background-color: white;
    border: 1px solid #EBEBEB;
    color: black;
    margin: 5px 5px;
}

.map-view {
    position: relative;
    height: 100%;
    padding: 0 !important;
}

.map {
    width: 100%;
    height: 100%;
}

.map-options {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-group button {
    background-color: #868e96;
    border: 1px solid #868e96;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    float: left;
}

.btn-group button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-group button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button.active {
    background-color: #283593;
    color: white;
}

.gml {
    border: 1px dashed #EBEBEB;
    resize: none;
    padding: 10px;
    height: 440px;
    margin-top: 6%;
}

.modal {
    text-align: center;
    margin-top: 10%;
    padding: 0 !important;
}

.modal-title {
    font-size: 16px;
    color: #717171;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 6px 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: none;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-cancel {
    color: #fff;
    background-color: #AAAAAA;
    border-color: #AAAAAA;
}

.btn-cancel.focus,
.btn-cancel:focus {
    color: #fff;
    background-color: #9F9F9F;
    border-color: #9F9F9F;
}

.btn-cancel:hover {
    color: #fff;
    background-color: #9F9F9F;
    border-color: #9F9F9F
}